<div class="single-customer">
  <h1><strong><%= customer.name %></strong></h1>
  <h3><strong>Bill: </strong>$<%= customer.total %></h3>

  <div> 
    <p>Show list of all customer's orders each with an Edit and Delete button</p> 
  </div>
  <%= link_to 'Edit', edit_customer_path(@customer) %>    <!-- Edit customer form -->
  <%= link_to 'Go Back', customers_path %>                <!-- List of all customers -->
</div>