<!-- Shows Customer Profile -->
<div class="customer">
  <h1><strong><%= @customer.name %></strong></h1>
  <h4><strong>Bill Total: $<%= @customer.total %></strong></h4><br>
      
  <%= link_to 'Go Back', party_path %>

  <div><br>
    <table>
      <tr colspan="4"><strong>Order Bill</strong></tr>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
      <%= render @orders %>
    </table>
  </div>

</div>