<!-- Shows each food and order in a table row -->
<tr>
  <td><%= @food %></td>
  <td><%= order.quantity %></td>
  <td>$<%= order.total %></td>
  <!-- Edit order quantity?? -->
  <td><%= link_to 'Delete', order_path(order),
          method: :delete, 
          data: {confirm: 'Are you sure you want to delete this order?'} %></td>
</tr>


